/* COLOR PALETTE

*/

/*--------MEDIA-QUERIES--------*/



/*--------GLOBAL-STYLES--------*/

/*BORDER BOX FIX*/
*, *::before, *::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body, html {
    padding: 0;
    margin: 0;
}

nav button {
    margin-right: 15px;
}
nav .collapse {
    justify-content: right;
}


/*--------INDEX--------*/
.index {
    display: flex;
    flex-direction: column;
}

.index .hero {
    background: #0056b3;
    color: white;
    text-align: center;
}

.index .hero h1, .index .hero h2 {
    padding: 30px;
}

.index .hero a {
    margin: 15px;
}

.index h3 {
    text-align: center;
    padding: 50px;
}

.choose .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.choose .card:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.6);
    transition: all 0.7s linear;
}

/*--------QUOTE--------*/

/*--------ABOUT--------*/

/*--------FAQ--------*/